<div class="row">
  <div class="col-12 text-center">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 20rem">
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <div *ngIf="isAuthenticated()">
      <a class="btn btn-primary mr-2" (click)="sendIngredients()">To Shopping List</a>
      <a class="btn btn-success mr-2" (click)="onEditRecipe()">Edit Recipe</a>
      <a class="btn btn-danger" (click)="onDeleteRecipe()">Delete Recipe</a>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-12 text-center">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <ul class="list-group">
      <li class="list-group-item recipe-detail__ingredient mb-1" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
