<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['']" class=" navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/recipes']">Recipes</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/shopping-list']">Shopping
            List</a></li>
      </ul>
      <ul class="navbar-nav">
        <ng-template [ngIf]="!isAuthenticated()">
          <li class="nav-item"><a class="nav-link" routerLink="signup">Register</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="signin">Login</a></li>
        </ng-template>
        <ng-container *ngIf="isAuthenticated()">
          <li class="nav-item"><a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
          <li class="nav-item"><a class="nav-link" (click)="onSaveData()">Save Data</a></li>
          <li class="nav-item"><a class="nav-link" (click)="onFetchData()">Fetch Data</a></li>
        </ng-container>
      </ul>
    </div>

    <button class="navbar-toggler collapsed" type="button"><span class="navbar-toggler-icon"></span></button>

  </div>
</nav>
